<ul class="card-text font-weight-light list-group list-group-flush">
  {% assign papers = data[1] %}
  {% for content in papers %}
    <li class="list-group-item">
      <div class="row">
        <div class="col-xs-12 cl-sm-12 col-md-12 mt-2 mt-md-0">
          <h6 class="title font-weight-bold ml-1 ml-md-4">{{ content.name }}</h6>
          <h6 class="ml-1 ml-md-4" style="font-size: 0.95rem">{{ content.publisher }}</h6>
        </div>
      </div>
    </li>
  {% endfor %}
</ul>
